<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srmn.xwork.gpstoolkit">

    <!-- Required -->
    <permission
        android:name="com.srmn.xwork.gpstoolkit.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.srmn.xwork.gpstoolkit.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SENSOR_INFO" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/application_map_64"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a396c3deac2a034a38c2b29543e09e86" />

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.srmn.xwork.androidlib.maps.offlinemap.OfflineMapActivity"
            android:label="@string/offlinemap"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />
        <service android:name="com.srmn.xwork.androidlib.gis.GISLocationService" />

        <activity
            android:name=".MarkEditor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarkCategoryManage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordLcation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackerMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackerMapShow"
            android:screenOrientation="portrait" />
        <!-- 反馈组件（若使用该功能，需添加以下声明）START -->
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity" />
        <!-- 反馈组件 END -->

        <activity
            android:name=".MarkList"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ShowMarkerMap"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>